*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Oregano', cursive;
}
.App{
    position: relative;
}
main{
    display: grid;
    grid: 1fr / 1fr 1fr;
    place-items: center;
    gap: 30px;
    width: calc(87% + 30px);;
    margin: auto;
    padding: 50px 0;
}
@media (min-width: 320px) and (max-width: 480px){
    main{
        display: grid;
        grid: 1fr 1fr / 1fr;
        place-items: center;
        gap: 30px;
        width: calc(87% + 30px);;
        margin: auto;
        padding: 50px 0;
    }
    .coin_image_container{
        width: 50%;
    }

}
.cards_con{
    width: 90%;
    height: 509px;
    display: grid;
    grid: repeat(3,1fr) / 1fr;
    align-self: stretch;
    gap: 20px;
}
.green, .red{
    font-weight: bold;
}
.green{
    color: rgb(0, 255, 213);
}

.red{
    color: rgb(100, 9, 9);
}